@import './../../styles/colors';

@import './../../styles/utils';

@mixin button-background($background-color) {
  background-color: $background-color;
  border: 1px solid $background-color;
  color: $color-text;
}

@mixin button-hover($background-color) {
  &:hover {
    background-color: darken($background-color, 10%);
    border-color: darken($background-color, 10%);
  }
}

.Button {
  @extend .Flex-center;
  min-width: 120px;
  height: 50px;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  margin: 1rem 0.5rem;
  transition: all 0.3s ease;
  font-size: 1.2rem;
  text-transform: capitalize;

  &--primary {

    @include button-background($color-primary);
    @include button-hover($color-primary);
  }

  &--secondary {

    @include button-background($color-secondary);
    @include button-hover($color-secondary);
  }

  &--tertiary {

    @include button-background($color-tertiary);
    @include button-hover($color-tertiary);
  }

  &:disabled {
    @include button-background($color-disabled);
    cursor: not-allowed;
  }

  &--small {
    border-radius: 50%;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
  }

  &--fullWidth {
    width: 100%;
    margin: 1rem 0;
  }
}