$color-background: #2b2e4a;
$color-primary: #e84545;
$color-secondary: #903749;
$color-tertiary: #15a78a;

$color-text: white;
$color-text-dark: black;

$color-shadow: darken($color-background, 10%);

$sidebar-closed-width: 50px;