$color-background: #233142;
$color-primary: #15a78a;
$color-secondary: #f95959;
$color-tertiary: #e3e3e3;

$color-text: white;
$color-text-dark: black;

$color-shadow: lighten($color-background, 10%);